<form class="form-contact" action="index.php"  method="post" role="form">
      <input type="hidden" name="tg" value="addon/submit/email" />
      <input type="hidden" name="babCsrfProtect" value="{OFGetCsrfProtectToken}" />
      <input type="hidden" name="subject" value="Formulaire de contact test Gr&eacute;gory" />
      <input type="hidden" name="to" value="noreply@cantico.fr" />
      <input type="hidden" name="cc" value="paul.derosanbo@cantico.fr" />
      <input type="hidden" name="bcc" value="gregory.mebarki@cantico.fr" />
      <input type="hidden" name="data[name]" value="Demande de contact" />
      <div style="width:50%; margin:20px auto;">
          <div class="form-group">
              <input type="hidden" name="data[nom][name]" value="Nom" />
              <input type="text" id="textId" name="data[nom][value]" required="required" placeholder="Nom" class=" form-control" />
          </div>
          <div class="form-group">
              <input type="hidden" name="data[email][name]" value="Email" />
              <input type="email" id="emailId" name="data[email][value]" required="required" placeholder="Email" class=" form-control" />
          </div>
          <div class="form-group">
              <input type="hidden" name="data[message][name]" value="Message" />
              <textarea id="messageId" name="data[message][value]" required="required" rows="3" placeholder="Message" class=" form-control"></textarea>
         </div>
         
         <div class="form-group">
             Please enter verification code
             <OFCaptchaField class="form-control">
         </div>
           
          <button type="submit" class="btn btn-info btn-lg">VALIDER</button>
      </div>
  </form>